MECHSYNC_DB_URL="jdbc:mysql://localhost:3306/NOMBRE_DB?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true"
MECHSYNC_DB_USERNAME=mechsync_app
MECHSYNC_DB_PASSWORD=CAMBIA_ESTA_PASSWORD
SERVER_PORT=8080
MECHSYNC_JPA_SHOW_SQL=false
MECHSYNC_DB_CONNECTION_TIMEOUT=3000
MECHSYNC_DB_INITIALIZATION_FAIL_TIMEOUT=-1
MECHSYNC_JWT_SECRET=CAMBIA_ESTE_SECRETO_BASE64_DE_AL_MENOS_32_BYTES
MECHSYNC_JWT_EXPIRATION_MINUTES=120
MECHSYNC_JWT_ISSUER=mechsync-backend
